
body {
  font-family: 'Roboto', sans-serif;
  max-width: 720px;
  margin: 24px auto;
  font-size: 14px;
}

pre {
  background: #f6f8fa;
  padding: 12px;
  border-radius: 6px;
  min-height: 100px;
}


.btn {
  padding: 10px 16px;
  border: none;
  background: #592ba5;
  color: #fff;
  font-weight: 300;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #2b0469;
}

.btn1 {
  padding: 8px 10px;
  border: none;
  background: #592ba5;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn1:hover {
  background: #2b0469;
}